.card-image {
  width: 292px;
  height: 292px;
  object-fit: cover;

}
.card-cover {
  display: none;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  z-index: 1;
}
.card {
  left: 52%;
  transform: translate(-50%);
  width: 292px;
  height: 292px;
  position: relative;
}
.card:hover .card-cover{
  display: flex;
}
.card:hover .card-overlay{
  display: flex;
  flex-wrap: wrap;
}
.info {
  padding: 10px 15px;
}
.info>li {
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0px;
}
.info {
  margin-top: 15vh;
  font-size: 17px;
  color: white;
  list-style-type: none;
}
.info-image {
  width: 15px;
  height: 15px;
  margin: 0 5px;
}
ul {
  padding: 0;
}
.card-overlay {
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 5;
}
.info-descriptions {
  color: white;
  margin-left: 40px;
  font-size: 17px;
}
